<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
  </head>
  <body>
    <div class="center hero-unit">
      <h1>Welcome</h1>
      <h2>
        This is the home page for the My blog. This is my page
        <a href="https://vk.com/id242362828">Vkontakte</a>
      </h2>
      
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
    <%= link_to image_tag("images.jpg", alt: "BLOG"), about_path %>
  
  </body>
</html>
