<footer class="footer">
  <small>
    <a href="http://localhost:3000/welcome/index">Blog</a>
    by Roman Chaban
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.ukr.net/news/tehnologii.html">News</a></li>
    </ul>
  </nav>
</footer>